{% extends 'dashboard.html' %}

{% block info%}

<div class="d-flex flex-column">
    <div class="mt-4">
        <div>
            <div class="help-shadow card">
                <div class="card-header bg-white d-flex flex-row align-items-center justify-content-between">
                    <h5 class="mb-0 font-weight-bold text-dark py-2">Meu perfil</h5>
                    <div>
                        <a href="{% url 'edit_profile' pk=pessoa.pk %}" class="link">
                            <i class="material-icons-outlined mr-2">create</i>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="card-body">
                        <label class="control-label font-weight-bold">CPF</label>
                        <p class="form-control border-0 pl-0">{{pessoa.cpf}}</p>
                        <label class="control-label font-weight-bold">Telefone</label>
                        <p class="form-control border-0 pl-0">{{pessoa.phone}}</p>
                        <label class="control-label font-weight-bold">Email Pessoal</label>
                        <p class="form-control border-0 pl-0">{{pessoa.email_pessoal}}</p>
                        <label class="control-label font-weight-bold">Facebook</label>
                        <p class="form-control border-0 pl-0">{{pessoa.facebook}}</p>
                        <label class="control-label font-weight-bold">Instagram</label>
                        <p class="form-control border-0 pl-0">{{pessoa.instagram}}</p>
                        <label class="control-label font-weight-bold">Linkedin</label>
                        <p class="form-control border-0 pl-0">{{pessoa.linkedin}}</p>
                        <label class="control-label font-weight-bold">Twitter</label>
                        <p class="form-control border-0 pl-0">{{pessoa.twitter}}</p>
                        <label class="control-label font-weight-bold">Estrangeiro</label>
                        <p class="form-control border-0 pl-0">{{pessoa.estrangeiro}}</p>
                        <label class="control-label font-weight-bold">Documento</label>
                        <p class="form-control border-0 pl-0">{{pessoa.documento}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
