{% load static%}

<div class="d-flex flex-column pt-4" style="background-color: #f8f9fa;">
    <div class="d-flex justify-content-center">
        <a href="http://www.dcc.ufmg.br" target="_blank" id="logo-dcc" alt="Departamento de Ciência da Computação" class="mx-4">
            <img src="{% static "/image/dcc.png"%}" style="padding-right:8px; padding-bottom:0;" height="50" class="d-inline-block align-top" alt="">
        </a>
        <a href="http://www.icex.ufmg.br" target="_blank" id="logo-icex" alt="Instituto de Ciências Exatas" class="mx-4">
            <img src="{% static "/image/icex.png"%}" style="padding-right:8px; padding-left:8px;    padding-bottom: 0;" height="50" class="d-inline-block align-top" alt="">
        </a>
        <a href="http://www.ufmg.br" target="_blank" id="logo-ufmg" alt="Universidade Federal de Minas Gerais" class="mx-4">
            <img src="{% static "/image/ufmg.png"%}"  style="padding-left:8px;  padding-bottom: 0;" height="50" class="d-inline-block align-top" alt="">
        </a>
    </div>
    <div class="d-flex justify-content-center pt-3">
        <a href="http://www.dcc.ufmg.br/" rel="external" target="_blank" class="text-secondary mx-2">Departamento de Ciência da Computação</a> - 
        <a href="http://www.icex.ufmg.br/" rel="external" target="_blank" class="text-secondary mx-2">Instituto de Ciências Exatas</a> -
        <a href="http://www.ufmg.br/" rel="external" target="_blank" class="text-secondary mx-2">Universidade Federal de Minas Gerais</a>
    </div>
    <div class="d-flex flex-column align-items-center pt-1">
        <a class="text-secondary" temprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">Av. Antônio Carlos, 6627 - Pampulha - Belo Horizonte - MG | CEP 31270-901 | +55 (31) 3409-5860</a>
        <p class="pt-1" style="font-size: x-small;">© 2019 Universidade Federal de Minas Gerais. Todos os direitos reservados.</p>
    </div>
</div>